<br>
<br>
<div class="container">
  <form>
  	<h1 class="offset-sm-4 col-sm-10"> Ingresa tus Datos</h1>
  	<br>
  	<br>
  	<br>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <input type="text" class="form-control" id="inputEmail3"  ng-model="usuario.id" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2  col-sm-10">
        <input type="password" class="form-control" id="inputPassword3"  ng-model="usuario.key" placeholder="Password">
      </div>
    </div>
   
 
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary form-control" ng-click="validar()">Ingresar</button>
      </div>
    </div>
  </form>
</div>

 